<!DOCTYPE html>
<html>
  <head>
    <title>Manteniment d'Events</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link type="text/css" rel="stylesheet" href="../css/editStyles.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>

  <body>

    <div class="container">
      <div >

        <label for="eventNom">Nom de l'event</label>
        <input type="text" id="eventNom" name="firstname" placeholder="Your name..">

        <div class="container">
            <label for="datainici">Data d'inici</label>
            <input type="date" id="datainici" name="bday">

            <label for="datafi">Data fi</label>
            <input type="date" id="datafi" name="bday">
        </div>

        <label for="tipusevent">Tipus d'event</label>
        <select id="tipusevent" name="tipusevents">
          <option value="cultural">Cultural</option>
          <option value="fira">Fira</option>
          <option value="festa">Festa popular</option>
          <option value="concert">Concert</option>
        </select>

        <label for="descripcio">Descripció</label>
        <textarea id="descripcio" name="descripcio" placeholder="Descripció de l'event.." style="height:150px"></textarea>

        <label for="pac-input">Ubicació de l'event</label>
        <div class="container">
          <input id="pac-input" class="controls" type="text"  placeholder="Enter a location">
          <div id="map"></div>
        <div>
        <div>
          <table id="address">
            <tr>
              <td class="label">Carrer</td>
              <td class="slimField"><input class="field" id="street_number" disabled="true"></input></td>
              <td class="wideField" colspan="2"><input class="field" id="route"  disabled="true" onblur="initMap()"></input></td>
            </tr>
            <tr>
              <td class="label">Municipi</td>
              <!-- Note: Selection of address components in this example is typical.
                   You may need to adjust it for the locations relevant to your app. See
                   https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
              -->
              <td class="wideField" colspan="3"><input class="field" id="locality" disabled="true"></input></td>
            </tr>
            <tr hidden>
              <td class="label">State</td>
              <td class="slimField"><input class="field" id="administrative_area_level_1" disabled="true"></input></td>
              <td class="label">Codi Postal</td>
              <td class="wideField"><input class="field" id="postal_code"  disabled="true"></input></td>
            </tr>
          </table>
        </div>

        <button id="save_event"  style="width:auto;">Desa</button>
        <button id="delete_event" style="visibility:hidden; width:auto; background-color:red;">Esborra</button>

        <p id="event_id" style="visibility:hidden;*"><p>
        <span><h1 id="create_result" color="green"></h1></span>

      </form>
    </div>

    <script>
        require('../client_scripts/edit.js')
    </script>
  </body>
</html>
