<!DOCTYPE html>
<html>
<head>
  <title>Manteniment d'Events</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link type="text/css" rel="stylesheet" href="../css/editStyles.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

  <div class="container containerShow">
    <label for="eventNom">Nom de l'event: </label>
    <input type="text" id="eventNom" name="firstname" placeholder="Your name.." style= "font-weight: bold;" disabled>
    </br>  </br>

    <label for="datainici">Data d'inici: </label>
    <input type="date" id="datainici" name="bday"  style= "font-weight: bold;" disabled>&nbsp
    <label for="datafi">Data fi</label>
    <input type="date" id="datafi" name="bday" style= "font-weight: bold;" disabled>
    </br>  </br>

    <label for="tipusevent">Tipus d'event: </label>
    <select id="tipusevent" name="tipusevents" style="font-weight: bold;" disabled>
      <option value="cultural">Cultural</option>
      <option value="fira">Fira</option>
      <option value="festa">Festa popular</option>
      <option value="concert">Concert</option>
    </select>
    </br>

    <label for="descripcio">Descripció:</label>
    <textarea id="descripcio" name="descripcio" placeholder="Descripció de l'event.." style="height:100px; font-weight: bold;" disabled></textarea>
    </br>

    <div class="container">
      <label for="pac-input">Ubicació: </label>
      <input id="pac-input" class="controls" type="text" value="Barcelona" oninput="initMap()" style="font-weight: bold;" disabled placeholder="Enter a location">
      <div id="map"></div>
    </div>
</div>


<script>
  require('../client_scripts/showEvent.js')
</script>
</body>
</html>
