<!DOCTYPE html>
<html>
<head>
  <title>Manteniment d'Events</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link type="text/css" rel="stylesheet" href="../css/editStyles.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

  <div class="container containerShow">
    <label for="eventNom">Nom de l'event</label>
    <input type="text" id="eventNom" name="firstname" placeholder="Your name.." disabled>
    </br>  </br>  </br>

    <label for="datainici">Data d'inici</label>
    <input type="date" id="datainici" name="bday" disabled>&nbsp
    <label for="datafi">Data fi</label>
    <input type="date" id="datafi" name="bday" disabled>
    </br>  </br>  </br>

    <label for="tipusevent">Tipus d'event</label>
    <select id="tipusevent" name="tipusevents" disabled>
      <option value="cultural">Cultural</option>
      <option value="fira">Fira</option>
      <option value="festa">Festa popular</option>
      <option value="concert">Concert</option>
    </select>
    </br>

    <label for="descripcio">Descripció</label>
    <textarea id="descripcio" name="descripcio" placeholder="Descripció de l'event.." style="height:200px" disabled></textarea>
    </br>  </br>  </br>

    <label for="pac-input">Ubicació de l'event</label>
    <div class="container">
      <input id="pac-input" class="controls" type="text" value="Barcelona" oninput="initMap()" onchange="initMap()" placeholder="Enter a location">
      <div id="map"></div>
    </div>
</div>

<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);
      };

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('pac-input').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      };
    </script>
    <script async defer   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC85tUwam0SSFR-ulhqn1d7kjUmd7JytvQ">
    </script>
<script>
  require('../client_scripts/showEvent.js')
</script>
</body>
</html>
