<!DOCTYPE html>
<html>
<head>
  <title>Mapa d'Events</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
  <link type="text/css" rel="stylesheet" href="../css/mapStyle.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <div>
      <div id="map"></div>
  </div>

<script>
  require('../client_scripts/mapEvent.js')
</script>
</body>
</html>
